@import "../../../../../style/variables.scss";

.customModal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.customModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.customModalContent{
    padding: 25px;
    background-color: #EEEEEE;
    min-width: 400px;
    min-height: 150px;
    border-radius: 10px;
}