@import "../../style/variables";

@mixin fliexColumnDirection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    @include fliexColumnDirection();

    margin-top: 8rem;
}

form {
    @include fliexColumnDirection();
}

label {
    display: block;
    margin-bottom: 0.25rem;
    margin-bottom: 1rem;
}

input {
    border: 1px solid $textColor  !important;
    border-radius: 6px;
    font: inherit;
    letter-spacing: inherit;
    color: $textColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 16.5px 14px;

    &::placeholder {
        color: #212529;
        opacity: 0.4;
    }
}