@import "../../style/variables.scss";

.wrapper {
    display: flex;
    width: 100%;
   // background-color: #97ea97;
}

.mapBlock{
    flex: 1 1 auto;
    background-color: #D9D9D9;
    margin-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.quizAndTeamInfoBlock{
    flex: 0 0 40%;
}

.title{
    margin: 10px 0px 0px 15px;
}

.lineUp {
    margin-top: 30px;
}

.quizBlock{
    background-color: #D9D9D9;
    height: 35vh;
    margin-bottom: 3vh;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.teamInfoBlock{
    height: 36.5vh;
    background-color: #D9D9D9;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    p {
       margin: 10px 0px;
    }
}

.teamInfoBlockLeftPart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.userItem {
    display: flex;

}

.userName{
    padding: 5px 0px;
    margin-bottom: 5px;
}

.chatBtn{
    background-image: url("/src/assets/icon_chat_grey.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    margin: 0px 0px 10px 10px;
}

.chatModal{
    position: fixed;
    width: 450px;
    height: 520px;
    background-color: $backColor;
    left: 150px;
    bottom: 25px;
    display: flex;
    flex-direction: column;
}

.chatTabBlock{
    display: flex;
    flex: 0 0 30px;
}

.chatModalContent{
    display: flex;
    flex: 1 1 auto;
}

.currentUserIcon{
    background-image: url("/src/assets/icon_person_black.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    padding: 5px 0px;
    margin-right: 10px;
}

.noUserIcon{
    width: 35px;
}