.chatContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #0258d9;
    border-radius: 5px;
    
}
.messageContent {
    flex: 1 1 auto;
}

.inputContent{
    flex: 0 0 15%;
    display: flex;
    align-items: center;
}

.chatTextArea { 
    flex: 1 1 auto;
    resize: none;
    margin: 5px;
    border: 1px solid #0258d9;
    border-radius: 5px;
    height: 80%;
}
.chatTextArea:focus {
    border: 3px solid #0258d9;
}
.sendMessageBtn {
    flex: 0 0 10%;
}
.messageLeftWrapper {
    display: flex;
}
.messageLeftContent {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.messageLeftAuthor{
    color: #0258d9;
}

.messageLeftText{
    max-width: 60%;
}

.messageLeftText p {
    margin: 0 0 0 5px;
}

.messageRightWrapper {
    display: flex;
}
.messageRightContent {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.messageRightAuthor{
    color: #36cead;
}

.messageRightText{
    max-width: 60%;
}

.messageRightText p {
    margin: 0 0 0 5px;
}

