@import "../../style/variables.scss";

.chatContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #D9D9D9;
}
.messageContent {
    flex: 1 1 auto;
}

.inputContent{
    flex: 0 0 15%;
    display: flex;
    align-items: center;
    border-top: 1px solid #3D5265;
    margin: 0px;
}

.chatTextArea { 
    flex: 1 1 auto;
    resize: none;
    margin: 5px;
    background-color: #D9D9D9;
    border: none;
    height: 50%;
    color: #3D5265;
    &::placeholder{
        color: #3D5265;
    }
}
.chatTextArea:focus {
    //border: 3px solid #0258d9;
    border: none;
    outline: none;
}
.sendMessageBtn {
    flex: 0 0 10%;
}
.messageLeftWrapper {
    display: flex;
}
.messageLeftContent {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.messageLeftAuthor{
    color: #0258d9;
}

.messageLeftText{
    max-width: 60%;
}

.messageLeftText p {
    margin: 0 0 0 5px;
}

.messageRightWrapper {
    display: flex;
}
.messageRightContent {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.messageRightAuthor{
    color: #3D5265;
}

.messageRightText{
    max-width: 60%;
}

.messageRightText p {
    margin: 0 0 0 5px;
}

.sendBtn{
    background-image: url("/src/assets/icon_chat.svg");
    background-size: 100%;
    width: 50px;
    height: 40px;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline;
    display: inline-block;
    margin-right: 10px;
}

