.customTable {
    justify-self: center;
    border-collapse: collapse;
}

.row {
    border: 1px solid;
}


.column {
    text-align: center;
    border: 1px solid;
    padding: 7px;
}

.column:last-child {
    border: none;
}

.paginationList {
    display: flex;
    list-style: none;
}

.paginationListItem {
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid lightblue;
    padding: 5px;
    
}

.test {
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid red;
}